<c-container>
    <c-row ngPreserveWhitespaces>
        <c-col sm="5" md="4">
            <c-card class="mb-4">
                <c-card-body>
                    <table cTable hover [responsive]="true">
                        <thead >
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Funksional Grupun adı</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="clickable" *ngFor="let f of adlarList; index as i;" (click)="rowPressed(f)">
                                <th scope="row">{{i+1}}</th>
                                <td>{{f.ad}}</td>
                            </tr>
                        </tbody>
                    </table>
                </c-card-body>
            </c-card>
        </c-col>
        <c-col sm="8" md="8" *ngIf="currentName !== undefined">
            <c-card class="mb-4">
                <c-card-body>
                    <form [formGroup]="simpleForm">
                        <c-row class="mb-3">
                            <label cLabel="col" cCol [sm]="4" sizing="lg">
                                Funksional Grupun adı:
                            </label>
                            <c-col [sm]="6">
                                <input cFormControl formControlName="ad" type="email" />
                            </c-col>
                        </c-row>
                        <c-row class="mb-3" formGroupName="faizler">
                            <label cLabel="col" cCol [sm]="4" sizing="lg">
                                Göndərən həkimin faizi:
                            </label>
                            <c-col [sm]="6">
                                <c-input-group>
                                    <input cFormControl formControlName="first" type="number" />
                                    <span cInputGroupText>%</span>
                                </c-input-group>
                            </c-col>
                            <c-col [sm]="6" [offset]="{sm:4}">
                                <c-input-group>
                                    <input cFormControl formControlName="second" type="number" />
                                    <span cInputGroupText>%</span>
                                </c-input-group>
                            </c-col>
                        </c-row>
                        <c-row class="mb-3">
                            <c-col [md]="3" [sm]="4" [xs]="4" [offset]="{sm:4}">
                                <select cSelect id="inlineFormSelectPref">
                                    <option value="1">faiz</option>
                                    <option value="2">manat</option>
                                </select>
                            </c-col>
                        </c-row>
                        <c-row class="mb-3">
                            <label cLabel="col" cCol [sm]="4" for="inputPassword3" sizing="lg">
                                Status:
                            </label>
                            <c-col [md]="3" [sm]="4" [xs]="4">
                                <select cSelect id="inlineFormSelectPref">
                                <option value="1">Aktiv</option>
                                <option value="2">Deaktive</option>
                                </select>
                            </c-col>
                        </c-row>
                        <c-row class="justify-content-end">
                            <c-col>
                                
                                
                            </c-col>
                        </c-row>
                        <c-row class="justify-content-end">
                            <c-col>
                                <button cButton color="primary" variant="outline">Yeni Qrup</button>
                                <button cButton color="primary">Ok</button>
                            </c-col>
                        </c-row>
                    </form>
                </c-card-body>
            </c-card>
        </c-col>
    </c-row>
</c-container>